@import '../../../styles/vars';

.header-container {
    width: 100%;
    display: flex;
    font-display: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 1%;
    box-shadow: $base-box-shadow;

    .title-container {
        @include font-title;
    }
}