.header-container {
    width: 1100px;
    display: flex;
    font-display: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8px;
    box-shadow: rgba(0, 0, 0, 0.266) 0px 4px 12px;

    .title-container {
        font-size: 20px;
        font-weight: 500;
    }
}