.header-container {
    width: 100%;
    display: flex;
    font-display: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 1%;
    box-shadow: rgba(0, 0, 0, 0.266) 0px 4px 12px;

    .title-container {
        font-size: 1.5em;
        font-weight: 500;
    }
}