@import '../../../../styles/vars';

.add-task-card {
    width: 34em;
    border: $base-border;

    .add-task-card__form {
        display: flex;
        flex-direction: column;
        
        .status {
            width: $form-two-line-controls-width;
            margin-right: $form-margin-right;
        }

        .priority {
            width: $form-two-line-controls-width;
        }

        .deadline {
            margin-bottom: $base-margin-bottom;
        }

        .clear-btn {
            margin-right: $form-margin-right;
        }
    }
}

