@import '../../../../styles/vars';

.header-container {
    width: 100%;
    background-color: black;
    color: $main-color;
    padding: 1% 1%;

    h1 {
        display: inline-block;
        margin: 0;
    }

    h1:hover {
        cursor: pointer;
    }
}