.outer-container {
    width: 100%;
    min-width: 60em;
    padding: 1%;
    padding-bottom: 1%;
    box-shadow: rgba(0, 0, 0, 0.266) 0px 4px 12px;
    border: 1px solid rgba(0, 0, 0, 0.266);
    
    .mat-column-title {
        width: 18em !important;
    }

    .mat-column-priority {
        width: 4em !important;
    }

    .mat-column-deadline {
        width: 4em !important;
    }

    .mat-column-info {
        width: 2em !important;
    }

    .mat-column-status {
        width: 6em !important;
    }

    .mat-column-assignTo {
        width: 9em !important;
    }

    .mat-column-details {
        width: 2.5em !important;
    }

    .mat-column-edit {
        width: 2em !important;
    }

    .not-found-message {
        padding: 1%;
    }

    .mat-mdc-row .mat-mdc-cell {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
    }
      
    .mat-mdc-row:hover .mat-mdc-cell {
        border-color: currentColor;
    }

    .task-icons:hover {
        cursor: pointer;
    }

    .spinner-container {
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
}