@import '../../../styles/vars';

.outer-container {
    width: 100%;
    min-width: 60em;
    padding: $base-padding;
    padding-bottom: $base-padding;
    box-shadow: $base-box-shadow;
    border: $base-border;
    
    .mat-column-title {
        width: 18em !important;
    }

    .mat-column-priority {
        width: 4em !important;
    }

    .mat-column-deadline {
        width: 4em !important;
    }

    .mat-column-info {
        width: 2em !important;
    }

    .mat-column-status {
        width: 6em !important;
    }

    .mat-column-assignTo {
        width: 9em !important;
    }

    .mat-column-details {
        width: 2.5em !important;
    }

    .mat-column-edit {
        width: 2em !important;
    }

    .not-found-message {
        padding: $base-padding;
    }

    .mat-mdc-row .mat-mdc-cell {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
    }
      
    .mat-mdc-row:hover .mat-mdc-cell {
        border-color: currentColor;
    }

    .task-icons:hover {
        cursor: pointer;
    }

    .spinner-container {
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
}