@import '../../../styles/vars';

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .header {
        width: 100%;
        margin-bottom: $base-margin-bottom;
    }
    
}
