:host {
    width: 100%;   
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: left;

    .content__header,
    .content__filter-card,
    .content__tasks-table {
        margin-bottom: 1.5%;
    }
}