@import '../../../../styles/vars';

.add-task-card {
    padding: $base-padding;
    border: $base-border;

    .add-task-card__info {
        display: flex;
        flex-direction: row;
        padding: $base-padding;

        .label {
            width: 10em;
            font-size: $font-text-size;
            font-weight: 450;
        }
    }
}