@import '../../../styles/vars';

.filter-card {
    width: 50%;
    min-width: 30em;
    border: $base-border;

    .filter-card__title {
        @include font-title;
        margin-bottom: $base-margin-bottom;
    }

    .form__assign-to-container {
        width: 100%;

        .assign {
            width: 100%;
        }
    }

    .form__container {
        width: 100%;

        .status {
            width: $form-two-line-controls-width;
            margin-right: $form-margin-right;
        }

        .deadline {
            width: $form-two-line-controls-width;
        }
    }

    .clear-btn {
        margin-right: $form-margin-right;
    }
}