@import '../../../styles/vars';

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: left;

    .content__header {
        margin-bottom: $base-margin-bottom;
    }
}