:host {
    display: block;
    width: 100%;
}

.content-outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1%;

    .content-inner-container {
        width: 70%;
    }
}